@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* { 
    margin: 0;
    outline: 0;
    padding: 0;
}

.selected {
    color: red;
  }

body { 
    min-height: 100vh;
}

.container { 
    width: 1140px;

    @media screen and (max-width: 575px) { 
        width: 100%;
    }
}

.header { 
    background-color: #EEF5F6;
    padding: 15px 0;
    .header__informationBlock { 
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        @media screen and (max-width: 567px) { 
            justify-content: space-around;
        }

        @media screen and (max-width: 480px) {
            flex-direction: column;
        }
        .header__search {
            display: flex;
            flex-direction: column;
            text-align: right;

            .header__input { 
                background-color: transparent;
                border: 1.2px solid #9BAAAE;
                border-radius: 6px;
                padding: 5px 0 5px 10px;
                margin-top: 10px;
            }
        }

        .header__logo { 
            display: flex;
            justify-content: center;

            @media screen and (max-width: 480px) { 
                margin: 10px 0;
            }
        }

        .header__buttons { 
            display: flex;
            justify-content: flex-end;

            .header__buttonItem, .header__buttonLogin { 
                border-radius: 4px;
                margin-right: 15px;
                border: none;
                background-color: #CDDDE2;
                padding: 11px 19px;

                @media screen and (max-width: 600px) { 
                    padding: 5px 10px;
                }
            }
        }
    }

    .header__menu { 
        .header__navbar { 
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            padding: 10px 0;
            @media screen and (max-width: 768px) {
                justify-content: flex-start;
            }
            .nav-item { 
                font-size: 15px;
                line-height: 20px;
                font-weight: 700;
                text-transform: uppercase;
                    a { 
                        color: #1A1818;
                }
            }
        }
    }
}


.beforeSlider  {
    background-color: #EEF5F6;
    padding: 42px 197px 204px 0;
    .beforeSlider__textContent { 
        display: flex;
        align-items: center;
        padding-left: 195px;
        @media screen and (max-width: 320px) { 
            padding-left: 100px;
        }
        .beforeSlider__line { 
            width: 50px;
            height: 4px;
            background-color: orange;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    
        .beforeSlider__productTitle {
            margin-left: 10px;
            color: #1A1818;
            font-size: 28px;
            line-height: 34px;
            font-weight: bold;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }    
    }
}


.sliderSlick { 
    position: relative;
    margin-top: -150px;
    .sliderSlick__content { 
        .sliderSlick__box { 
            .slideSlick__itemContent {
                max-width: 203px;
                height: 320px;
                display: flex;
                flex-direction: column;
                justify-content: space-between; 
                border-radius: 5px;
                margin: 0 76px 50px 10px;
                background-color: #fff;
                padding: 15px 0 30px 0;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

                @media screen and (max-width: 768px) { 
                    margin: 0 60px 50px 10px;
                    
                }

                @media screen and (max-width: 575px) { 
                    margin: 0 60px 50px 10px;
                    
                }

                @media screen and (max-width: 559px) { 
                    margin: 0 40px 50px 10px;
                    
                }

                @media screen and (max-width: 510px) { 
                    margin: 0 27px 50px 10px;
                    
                }

                @media screen and (max-width: 480px) { 
                    margin: 0 15px 50px 10px;
                }
                .sliderSlick__image { 
                    margin: 0 15px;
                    img { 
                        width: 100%;
                        margin: 0 auto;
                    }
                }

                hr { 
                    width: 75%;
                    margin: 0 auto;
                }

                .sliderSlick__heart { 
                    display: flex;
                    justify-content: flex-end;
                    margin: 0 15px;
                }

                .sliderSlick__title { 
                    text-align: center;
                }

                .sliderSlick__rating { 
                    display: flex;
                    justify-content: center;
                }

                .sliderSlick__priceContent { 
                    display: flex;
                    justify-content: center;

                    .sliderSlick__priceTitle {
                        margin-right: 10px;
                        }
                    }
                }
            }
        }
    }