@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
* {
  margin: 0;
  outline: 0;
  padding: 0;
}

.selected {
  color: red;
}

body {
  min-height: 100vh;
}

.container {
  width: 1140px;
}
@media screen and (max-width: 575px) {
  .container {
    width: 100%;
  }
}

.header {
  background-color: #EEF5F6;
  padding: 15px 0;
}
.header .header__informationBlock {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
@media screen and (max-width: 567px) {
  .header .header__informationBlock {
    justify-content: space-around;
  }
}
@media screen and (max-width: 480px) {
  .header .header__informationBlock {
    flex-direction: column;
  }
}
.header .header__informationBlock .header__search {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.header .header__informationBlock .header__search .header__input {
  background-color: transparent;
  border: 1.2px solid #9BAAAE;
  border-radius: 6px;
  padding: 5px 0 5px 10px;
  margin-top: 10px;
}
.header .header__informationBlock .header__logo {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .header .header__informationBlock .header__logo {
    margin: 10px 0;
  }
}
.header .header__informationBlock .header__buttons {
  display: flex;
  justify-content: flex-end;
}
.header .header__informationBlock .header__buttons .header__buttonItem, .header .header__informationBlock .header__buttons .header__buttonLogin {
  border-radius: 4px;
  margin-right: 15px;
  border: none;
  background-color: #CDDDE2;
  padding: 11px 19px;
}
@media screen and (max-width: 600px) {
  .header .header__informationBlock .header__buttons .header__buttonItem, .header .header__informationBlock .header__buttons .header__buttonLogin {
    padding: 5px 10px;
  }
}
.header .header__menu .header__navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}
@media screen and (max-width: 768px) {
  .header .header__menu .header__navbar {
    justify-content: flex-start;
  }
}
.header .header__menu .header__navbar .nav-item {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.header .header__menu .header__navbar .nav-item a {
  color: #1A1818;
}

.beforeSlider {
  background-color: #EEF5F6;
  padding: 42px 197px 204px 0;
}
.beforeSlider .beforeSlider__textContent {
  display: flex;
  align-items: center;
  padding-left: 195px;
}
@media screen and (max-width: 320px) {
  .beforeSlider .beforeSlider__textContent {
    padding-left: 100px;
  }
}
.beforeSlider .beforeSlider__textContent .beforeSlider__line {
  width: 50px;
  height: 4px;
  background-color: orange;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.beforeSlider .beforeSlider__textContent .beforeSlider__productTitle {
  margin-left: 10px;
  color: #1A1818;
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sliderSlick {
  position: relative;
  margin-top: -150px;
}
.sliderSlick .sliderSlick__content .sliderSlick__box .slideSlick__itemContent {
  max-width: 203px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  margin: 0 76px 50px 10px;
  background-color: #fff;
  padding: 15px 0 30px 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (max-width: 768px) {
  .sliderSlick .sliderSlick__content .sliderSlick__box .slideSlick__itemContent {
    margin: 0 60px 50px 10px;
  }
}
@media screen and (max-width: 575px) {
  .sliderSlick .sliderSlick__content .sliderSlick__box .slideSlick__itemContent {
    margin: 0 60px 50px 10px;
  }
}
@media screen and (max-width: 559px) {
  .sliderSlick .sliderSlick__content .sliderSlick__box .slideSlick__itemContent {
    margin: 0 40px 50px 10px;
  }
}
@media screen and (max-width: 510px) {
  .sliderSlick .sliderSlick__content .sliderSlick__box .slideSlick__itemContent {
    margin: 0 27px 50px 10px;
  }
}
@media screen and (max-width: 480px) {
  .sliderSlick .sliderSlick__content .sliderSlick__box .slideSlick__itemContent {
    margin: 0 15px 50px 10px;
  }
}
.sliderSlick .sliderSlick__content .sliderSlick__box .slideSlick__itemContent .sliderSlick__image {
  margin: 0 15px;
}
.sliderSlick .sliderSlick__content .sliderSlick__box .slideSlick__itemContent .sliderSlick__image img {
  width: 100%;
  margin: 0 auto;
}
.sliderSlick .sliderSlick__content .sliderSlick__box .slideSlick__itemContent hr {
  width: 75%;
  margin: 0 auto;
}
.sliderSlick .sliderSlick__content .sliderSlick__box .slideSlick__itemContent .sliderSlick__heart {
  display: flex;
  justify-content: flex-end;
  margin: 0 15px;
}
.sliderSlick .sliderSlick__content .sliderSlick__box .slideSlick__itemContent .sliderSlick__title {
  text-align: center;
}
.sliderSlick .sliderSlick__content .sliderSlick__box .slideSlick__itemContent .sliderSlick__rating {
  display: flex;
  justify-content: center;
}
.sliderSlick .sliderSlick__content .sliderSlick__box .slideSlick__itemContent .sliderSlick__priceContent {
  display: flex;
  justify-content: center;
}
.sliderSlick .sliderSlick__content .sliderSlick__box .slideSlick__itemContent .sliderSlick__priceContent .sliderSlick__priceTitle {
  margin-right: 10px;
}

/*# sourceMappingURL=main.css.map */
